.header-location {
  display: flex;
  column-gap: 15px;

  @include media-min ($xl) {
    margin-right: 48px;
  }

  &__item {
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-gray-color);
    min-width: 116px;
    padding: 12px 16px;
    border: 1px solid rgba(75, 75, 75, 0.13);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
