.home-types-card {
  position: relative;
  padding-top: 50%;

  @include media-min ($md) {
    padding-top: 54%;
  }

  @include media-min ($xl) {
    padding-top: 270px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    overflow: hidden;
    display: inline-flex;
    width: 100%;
    max-height: 332px;
    height: 100%;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__bottom {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100%;

    @include media-min ($md) {
      padding: 0 28px;

    }
  }

  &__info {
    display: flex;
    border-radius: 20px;
    background-color: var(--white-color);
    padding: 0;


    @include media-min ($md) {
      padding: 30px 18px 0;
    }
  }

  &__grid {
    display: grid;
    justify-items: center;

    @include media-min ($md) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    @include indent-reset;
    font-weight: 500;
    font-size: 24px;
    color: var(--dark-gray-color);
  }

  &__descr {
    display: grid;
    row-gap: 16px;
    padding: 36px 24px 0;
    margin-bottom: 32px;

    @include media-min ($xl) {
      padding: 0;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    color: rgba(75, 75, 75, 0.5);
  }

  &__btn {
    margin-top: auto;
  }
}