:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --dark-gray-color: #4b4b4b;
  --blue-color: #184065;

  --red-color: #BD0300;
  --red-40-color: #F56C69;
  --error-color: var(--red-color);

  // other vars
  --min-site-width: 375px;
  --max-site-width: 1600px;
}

$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$fhd: 1920px;
$main-font: "Gilroy";
$second-font: "Buyan";
$third-font: "Nuqun";