.slider {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &:not(.swiper-initialized) {
    opacity: 0;
  }

  &__wrapper {
    box-sizing: border-box;
  }
}

.slider-controls {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  padding: 0 34px;
  pointer-events: none;

  @include media-min ($xl) {
    top: 60%;
    transform: translate(-52%, -50%);
  }

}

.slider-control {
  color: var(--slider-control-color, var(--white-color));
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid var(--slider-control-border-color, var(--white-color));
  width: 52px;
  height: 52px;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.swiper-button-lock {
    display: none;
  }

  & svg {
    width: 18px;
    height: 18px;

    @include media-min ($lg) {
      width: 24px;
      height: 24px;
    }
  }

  @include media-min ($xl) {
    transition: background-color 0.2s ease-in-out;
  }
}

.swiper-pagination {
  --swiper-pagination-bullet-size: 11px;
  --swiper-pagination-color: #209b1e;
  --swiper-pagination-bullet-inactive-color: var(--white-color);
  --swiper-pagination-bullet-inactive-opacity: .3;

  bottom: 90px !important;

  @include media-min ($md) {
    bottom: 104px !important;
  }

  @include media-min ($xl) {
    display: none;
  }
}